* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: all 1s;
    font-family: "Nunito";
}

body {
    overflow-x: hidden;
    max-width: 100%;
}

nav {
    position: fixed;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 10px 0px rgb(198, 198, 198);
    z-index: 9999;
    height: 70px;
}

.nav-padding-top {
    padding: 20px 0px;
}

.nav-padding-side {
    padding: 0px 5px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 210px;
}

.nav-link ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link a {
    padding: 5px 12px;
    color: #353535;
    font-family: "Outfit";
    font-weight: 500;
}

.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btn a {
    padding: 4px 10px;
    font-family: "Outfit";
    color: #353535;
}

.nav-link a:hover {
    color: #624ada;
}

.sign a {
    background: #624ada;
    border-radius: 5px;
    color: white;
}

.sign a:hover {
    color: white;
    background-color: #8371e0;
}

.padding-sides {
    padding: 50px 0px 50px 110px;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 80px;
    padding-top: 50px;
}

.home-container img {
    padding: 40px;
    margin-top: 20px;
}

.welcome button {
    padding: 5px;
    border: none;
    background: #fddfb5;
    border-radius: 56px;
    font-size: 12px;
    font-weight: 600;
    color: rgb(0, 0, 0);

}

.home-text {
    max-width: 425px;
    text-align: left;
}

.home-text h1 {
    font-size: 30px;
    color: #353436;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}

.home-text span {
    color: #624ada;
}

.home-text p {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #353436;
}

.home-text a {
    background-color: #624ada;
    padding: 10px 24px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
}

.home-text svg {
    font-size: 25px;
    vertical-align: bottom;
}

.home-text:hover svg {
    color: #624ada;
    transition: .2s;
}

.home-text a:hover {
    box-shadow: 0px 0px 10px 0px rgb(198, 198, 198);
    background-color: white;
    border: 1px solid #624ada;
    color: #000;
    font-weight: 600;
    transition: .2s;
}

.about {
    text-align: center;
}

.padding-side {
    padding: 0px 50px;
}

.padding-top {
    padding: 80px 0px 10px;
}

.about-bg {
    position: absolute;
    opacity: 0.8;
    justify-content: center;
    max-width: 100%;
}

.about-head {
    position: relative;
}

.about-head h1 {
    font-size: 40px;
    color: #353436;
    line-height: 40px;
    margin-bottom: 10px;
}

.about-head p {
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #353436;
    margin-bottom: 20px;
}

.about-grid-container {
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 20px;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2.5rem; */

}

.card-1 {
    width: 90%;
    height: 250px;
    background-color: white;
    border: 1px solid #624ada;
    border-radius: 7px;
    text-align: center;
    padding: 15px;
    max-width: 350px;
}

.card-1 h1 {
    font-size: 25px;
    color: #353436;
    line-height: 40px;
    margin-bottom: 10px;
}

.card-1 p {
    color: #353436;
    line-height: 28px;
}

.card-1:hover {
    transform: translateY(-15px);
    cursor: pointer;
}

.c-padding-top {
    padding: 120px 0px 0px;
}

.c-padding-side {
    padding: 0px 50px
}

.courses-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr {
    display: flex;

}

.courses-text-container hr {
    width: 50px;
    background-color: #624ada;
    height: 3px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

.hr1 {
    width: 30px;
    background-color: #624ada;
    height: 3px;
    margin-left: 10px;
}

.courses-container img {
    width: 38%;
    max-width: 500px;
}

.courses-text-container {
    max-width: 600px;
    margin-left: 130px;
}

.courses-text-container h1 {
    color: #353535;
    font-size: 40px;
    line-height: 50px;
}

.courses-text-container p {
    color: #353535;
    line-height: 28px;
    font-size: 17px;
    margin-bottom: 15px;
}

.courses-text-container a {
    background-color: #624ada;
    padding: 10px 24px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
    margin-top: 10px;

}

.courses-text-container a:hover {
    box-shadow: 0px 0px 10px 0px rgb(198, 198, 198);
    background-color: white;
    border: 1px solid #624ada;
    color: #000;
    font-weight: 600;
    transition: .4s;
    padding: 5px 12px;
    font-size: 13px;
}

.courses-list li {
    list-style: square;
    color: #353436;
    line-height: 28px;
    margin-left: 20px;
    font-weight: 600;

}

.courses-list li::marker {
    background-color: #624ada;
    color: #624ada;
}

.admission-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.admission-container img {
    width: 40%;
    max-width: 500px;
}

.admission-text-container {
    max-width: 600px;
    margin-right: 50px;
}

.admission-text-container h1 {
    font-size: 40px;
    color: #353436;
    line-height: 50px;
    letter-spacing: 0.2px;
}

.admission-text-container p {
    font-size: 17px;
    color: #353436;
    line-height: 28px;
    margin-bottom: 15px;
}

.hr2 {
    display: flex;
    align-items: center;
}

.hr2 hr {
    width: 50px;
    background-color: #624ada;
    height: 3px;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tuition {
    text-align: center;
}

.t-padding-top {
    padding: 120px 0px 40px 0px;
}

.t-padding-side {
    padding: 0px 10px;
}

.tuition-container img {
    width: 18%;
    max-width: 203px;
}

.tuition-head h1 {
    font-size: 40px;
    color: #353436;
    line-height: 40px;
    margin-bottom: 10px;
}

.tuition-head p {
    color: #353436;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.tuition-grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    padding: 30px 40px 10px 80px;
    /* display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2.5rem;
     */
}

.grid-1 {
    width: 350px;
    height: 350px;
    background: #ededed8a;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(198, 198, 198, 0.487);
}

.grid-1:hover {
    transform: translateY(-15px);
    cursor: pointer;
}

.grid-img img {
    width: 100%;
    max-width: 350px;
    border-radius: 10px 10px 0px 0px;
}

.grid-text {
    text-align: left;
    padding: 10px 10px 10px 20px;
}

.grid-text h1 {
    font-size: 20px;
    text-align: left;
    color: #353436;
    font-weight: 700;
    margin-bottom: 10px;
}

.gt-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gt-link p {
    font-size: 16px;
    font-weight: 500;
    color: #353436;
}

.gt-link a {
    border: 1px solid #e59323;
    padding: 5px 12px;
    border-radius: 5px;
    color: #353436;
}

.gt-link a:hover {
    border: 1px solid #e59323;
    background: #e59323;
    color: white;
}

.Resources {
    background: #ededed8a;
}

.r-padding-top {
    padding: 50px 0px 40px;
}

.r-padding-side {
    padding: 0px 10px;
}

.r-con {
    text-align: center;
}

.r-text-con h1 {
    font-size: 40px;
    color: #353436;
    line-height: 40px;
    margin-bottom: 10px;
}

.r-text-con p {
    color: #353436;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    margin-bottom: 20px;
}

.r-grid-con {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 50px;
    padding: 20px 100px;
}

.r-card-1 {
    text-align: left;
    max-width: 350px;
}

.r-card-1 img {
    background: #624ada;
    padding: 10px;
    border-radius: 5px;
}

.r-card-1 h1 {
    font-size: 20px;
    color: #353436;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
}

.r-card-1 p {
    font-size: 15px;
    font-weight: 500;
    color: #353436;
}

.marquee {
    padding: 20px;
    /* height: 50px; */
    overflow: hidden;
    /* position: relative; */
    background: #fefefe;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.marquee img {
    /* position: absolute; */
    /* width: 100%;
    height: 100%; */
    margin: 0;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 20s linear infinite;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@media only screen and (max-width: 1024px) {

    body {
        overflow-x: hidden;
        max-width: 100%;
    }

    .nav-container {
        gap: 80px;
    }

    .nav-link a {
        font-size: 15px;
    }

    .nav-btn a {
        font-size: 15px;
    }

    .nav-logo img {
        width: 20px;
        margin-right: 25px;
    }

    .padding-sides {
        padding: 100px 0px 0px 35px;
    }

    .home-container img {
        padding: 0;
        width: 400px;
    }

    .home-text h1 {
        font-size: 24px;
    }

    .home-text p {
        font-size: 15px;
    }

    .home-text a {
        padding: 10px 20px;
    }

    .about-head h1 {
        font-size: 24px;
    }

    .about-head p {
        font-size: 15px;
    }

    .about-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .courses-text-container h1 {
        font-size: 24px;
    }

    .courses-text-container p {
        font-size: 16px;
    }

    .admission-text-container h1 {
        font-size: 24px;
    }

    .admission-text-container p {
        font-size: 16px;
    }

    .tuition-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 2rem;
    }

    .tuition-head h1 {
        font-size: 24px;
    }

    .r-text-con h1 {
        font-size: 24px;
    }

    .r-grid-con {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: 1.5rem;
        grid-row-gap: 2.5rem;
    }

}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
        max-width: 100%;
    }

    .nav-container {
        gap: 0;
    }

    .home-container {
        flex-wrap: wrap;
        gap: 0;
    }

    .padding-sides {
        padding: 100px 0px 0px 24px;
    }

    .home-text {
        max-width: none;
    }

    .home-text h1 {
        font-size: 30px;
    }

    .home-container img {
        width: 100%;
    }

    .about-head h1 {
        font-size: 30px;
    }

    .about-grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-column-gap: 0;
        justify-items: center;
    }

    .padding-side {
        padding: 0px 25px;
    }

    .c-padding-side {
        padding: 0px 25px;
    }

    .courses-container {
        flex-wrap: wrap;
    }

    .courses-container img {
        width: 90%;
        margin-bottom: 10px;
    }

    .courses-text-container {
        margin: 0;
        max-width: 90%;
    }

    .courses-text-container h1 {
        font-size: 30px;
    }

    .admission-container {
        flex-wrap: wrap;
    }

    .admission-text-container {
        max-width: 90%;
        margin: 0;
    }

    .admission-text-container h1 {
        font-size: 30px;
    }

    .admission-container img {
        width: 90%;
    }

    .tuition-grid-container {
        grid-template-columns: 1fr;
        grid-row-gap: 8rem;
        justify-items: center;
    }

    .tuition-head h1 {
        font-size: 30px;
    }

    .tuition-head p {
        font-size: 13px;
    }

    .r-text-con h1 {
        font-size: 25px;
    }

    .r-grid-con {
        grid-template-columns: 1fr;
    }

    .r-card-1 {
        text-align: center;
    }
}

@media only screen and (max-width:610px) {
    .nav-link ul {
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .home-text h1 {
        font-size: 25px;
    }

    .home-text p {
        font-size: 14px;
    }

    .home-text a {
        padding: 10px 85px;
    }

    .card-1 h1 {
        font-size: 20px;
    }

    .card-1 p {
        font-size: 15px;
    }

    .courses-text-container h1 {
        font-size: 25px;
    }

    .admission-text-container h1 {
        font-size: 25px;
    }

    .tuition-head h1 {
        font-size: 25px;
    }

    .tuition-grid-container {
        padding: 30px 5px 10px 33px;
        grid-row-gap: 2rem;
    }
}

@media only screen and (max-width: 375px) {
    .home-text a {
        width: 90%;
    }

    .about-head h1 {
        font-size: 25px;
    }

    .about-head p {
        font-size: 14px;
    }

    .padding-side {
        padding: 0px 25px;
    }
}

@media only screen and (max-width:320px) {
    .card-1 h1 {
        font-size: 17px;
    }

    .card-1 p {
        font-size: 12px;
    }

    .grid-text h1 {
        font-size: 18px;
    }

    .grid-1 {
        width: 90%;
    }
}