* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: all 1s;
    font-family: "Nunito";
}

body {
    overflow-x: hidden;
    max-width: 100%;
}

nav {
    position: fixed;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 10px 0px rgb(198, 198, 198);
    z-index: 9999;
    height: 70px;
}

.nav-padding-top {
    padding: 20px 0px;
}

.nav-padding-side {
    padding: 0px 5px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 210px;
}

.nav-link ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link a {
    padding: 5px 12px;
    color: #353535;
    font-family: "Outfit";
    font-weight: 500;
}

.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btn a {
    padding: 4px 10px;
    font-family: "Outfit";
    color: #353535;
}

.nav-link a:hover {
    color: #624ada;
}

.sign a {
    background: #624ada;
    border-radius: 5px;
    color: white;
}

.sign a:hover {
    color: white;
    background-color: #8371e0;
}

.padding-sides {
    padding: 50px 0px 50px 110px;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 80px;
    padding-top: 50px;
}

.home-container img {
    padding: 40px;
    margin-top: 20px;
}

.welcome button {
    padding: 5px;
    border: none;
    background: #fddfb5;
    border-radius: 56px;
    font-size: 12px;
    font-weight: 600;
    color: rgb(0, 0, 0);

}

.home-text {
    max-width: 425px;
    text-align: left;
}

.home-text h1 {
    font-size: 30px;
    color: #353436;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}

.home-text span {
    color: #624ada;
}

.home-text p {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #353436;
}

.home-text a {
    background-color: #624ada;
    padding: 10px 24px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
}

.home-text svg {
    font-size: 25px;
    vertical-align: bottom;
}

.home-text:hover svg {
    color: #624ada;
    transition: .2s;
}

.home-text a:hover {
    box-shadow: 0px 0px 10px 0px rgb(198, 198, 198);
    background-color: white;
    border: 1px solid #624ada;
    color: #000;
    font-weight: 600;
    transition: .2s;
}

.about {
    text-align: center;
}

.padding-side {
    padding: 0px 50px;
}

.padding-top {
    padding: 80px 0px 10px;
}

.about-bg {
    position: absolute;
    opacity: 0.8;
    justify-content: center;
    max-width: 100%;
}

.about-head {
    position: relative;
}

.about-head h1 {
    font-size: 40px;
    color: #353436;
    line-height: 40px;
    margin-bottom: 10px;
}

.about-head p {
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #353436;
    margin-bottom: 20px;
}

.about-grid-container {
    position: relative;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2.5rem;

}

.card-1 {
    width: 90%;
    height: 250px;
    background-color: white;
    border: 1px solid #624ada;
    border-radius: 7px;
    text-align: center;
    padding: 15px;
}

.card-1 h1 {
    font-size: 25px;
    color: #353436;
    line-height: 40px;
    margin-bottom: 10px;
}

.card-1 p {
    color: #353436;
    line-height: 28px;
}

.card-1:hover {
    transform: translateY(-15px);
    cursor: pointer;
}


@media only screen and (max-width: 1024px) {

    body {
        overflow-x: hidden;
        max-width: 100%;
    }

    .nav-container {
        gap: 80px;
    }

    .nav-link a {
        font-size: 15px;
    }

    .nav-btn a {
        font-size: 15px;
    }

    .nav-logo img {
        width: 20px;
        margin-right: 25px;
    }

    .padding-sides {
        padding: 100px 0px 0px 35px;
    }

    .home-container img {
        padding: 0;
        /* margin: 0; */
        width: 400px;
    }

    .home-text h1 {
        font-size: 24px;
    }

    .home-text p {
        font-size: 15px;
    }

    .home-text a {
        padding: 10px 20px;
    }

    .about-head h1 {
        font-size: 24px;
    }

    .about-head p {
        font-size: 15px;
    }

    .about-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
        max-width: 100%;
    }

    .nav-container {
        gap: 0;
    }

    .home-container {
        flex-wrap: wrap;
        gap: 0;
    }

    .padding-sides {
        padding: 100px 0px 0px 24px;
    }

    .home-text {
        max-width: none;
    }

    .home-text h1 {
        font-size: 30px;
    }

    .home-container img {
        width: 100%;
    }

    .about-head h1 {
        font-size: 30px;
    }

    .about-grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-column-gap: 0;
    }

    .padding-side {
        padding: 0px 25px;
    }

    /* .card-1 {
        width: 90%;
    } */
}

@media only screen and (max-width: 425px) {
    .home-text h1 {
        font-size: 25px;
    }

    .home-text p {
        font-size: 14px;
    }

    .home-text a {
        padding: 10px 135px;
    }

    .card-1 h1 {
        font-size: 20px;
    }

    .card-1 p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 375px) {
    .home-text a {
        padding: 10px 70px;
    }

    .about-head h1 {
        font-size: 25px;
    }

    .about-head p {
        font-size: 14px;
    }

    .padding-side {
        padding: 0px 25px;
    }
}

@media only screen and (max-width:320px) {
    .card-1 h1 {
        font-size: 17px;
    }

    .card-1 p {
        font-size: 12px;
    }
}